{% extends 'base.html' %}

{% block title %} Messages {% endblock %}

{% block body %}

<!-- Recount Section -->

<div id="Recount" class="w3-content w3-justify w3-text-grey w3-padding-64" style="">

    <h2 class="w3-text-light-grey w3-center">Messages so far</h2>

    <form method="POST">

    <div class="w3-row w3-center w3-padding-16 w3-section w3-black w3-hide-small">

      <button type="submit" class="w3-center w3-large" name="delete-selected">DELETE Selected</button>
      <!-- <button type="button" class="w3-center w3-large" name="return-recount">Return RECOUNT</button> -->

    </div>

    </form>

    <hr style="width:100%" class="w3-opacity w3-center">

    <div class="w3-row w3-center w3-padding-16 w3-section w3-black w3-hide-small">
      <div class="w3-quarter w3-section">
        <span class="w3-large">Name</span><br>
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-large">Email</span><br>
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-large">Subject</span><br>
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-large">Messages</span><br>
      </div>
    </div>

    <script>
      let message_condition = [];
    </script>


    {% for selected_view_ult_single in selected_view_ult %}

    <div style="margin-top: 50px;">
    <div class="w3-row w3-center w3-padding-16 w3-section w3-light-grey">


      <div class="w3-quarter w3-section">
        <span class="w3-large" style="vertical-align:top;">{{ selected_view_ult_single['name'] }}</span><br>
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-large">{{ selected_view_ult_single['email'] }}</span><br>
      </div>
      <div class="w3-quarter w3-section">
        <span class="w3-large">{{ selected_view_ult_single['subject'] }}</span><br>
      </div>
      <div class="w3-quarter w3-section">
        <button type="button" class="w3-large" onclick="show_message({{selected_view_ult_single['id']}})"><i class="fa fa-download"></i> Message</button><br>
      </div>
    </div>

    <script>
       message_condition.push([{{ selected_view_ult_single['id'] }}, 0]);
       console.log (message_condition);
       console.log ({{ selected_view_ult_single['id'] }});
    </script>

        <div  id="message{{selected_view_ult_single['id']}}" class="w3-row w3-light-grey w3-section w3-center" style="margin-bottom:50px; display:none;">
            <p class="w3-large w3-third">Message:</p>
            <p class="w3-medium  w3-twothird" style="padding-right: 20px;">{{ selected_view_ult_single['message'] }}</p><br>
        </div>
    </div>

    {% endfor %}


    <script>


        function show_message(ind) {

          let length = message_condition.length;
          for (let i=0; i < length +1; i++) {
            if (message_condition[i][0] == ind) {

              if (message_condition[i][1] == 0) {
                document.getElementById(`message${ind}`).style.display = '';
                message_condition[i][1] = 1;
              } else {
                document.getElementById(`message${ind}`).style.display = 'none';
                message_condition[i][1] = 0;
              }

            }
          }



        }
    </script>

</div>

<!-- End of Recount Section -->

{% endblock %}
