{% extends 'base.html' %}

{% block title %} Messages {% endblock %}

{% block body %}

<!-- Recount Section -->

<div id="Recount" class="w3-content w3-justify w3-text-grey w3-padding-64" style="">

    <h2 class="w3-text-light-grey w3-center">Selected Messages Deleted</h2>


    <div class="w3-row w3-center w3-padding-16 w3-section w3-black w3-hide-small">
      <button type="button" name="button">Proceed to Menu</button>
    </div>
    





</div>

<!-- End of Recount Section -->

{% endblock %}
