{% extends 'base.html' %}

{% block body %}
<div class="" id="main">


<!-- Entry Level -->
<div id="Entry">
  <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
    <h1 class="w3-jumbo"><span class="w3-hide-small"></span>Dark Panel</h1>
    <h2 class="w3-text-light-grey">Welcome, Choose Operation</h2>
  </header>

  <div class=" w3-content w3-text-grey" id="sign-in-form" style="display: flex; flex-direction:column; align-items:center; justify-content: center;">

    <hr style="width:200px" class="w3-opacity">
    <br>
    <p>Enter Your Name and Password please</p>
    <form class="w3-third"  target="_self" method="POST">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="User Name" required name="user_name"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Password" required name="user_pass"></p>
      <p class="w3-center">
        <button class="w3-button w3-light-grey w3-padding-large" type="submit" name="sign_in_submit" >
          <i class="fa fa-paper-plane"></i> SUBMIT
        </button>
      </p>

    </form>
  </div>
</div>
<!-- End of Entry Level -->

</div>
{% endblock %}
